.title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.desc{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2CF8BC;
    border-radius: 20px;
    width: 154px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2CF8BC;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 2;
}

.btn:hover{
    background: rgba(94, 234, 212, 0.1);
}

.img{
    margin-top: 60px;
    height: 320px;
    width: 320px;
}
